
   
      
body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
   

    background: linear-gradient( #4181b6 0, #4181b6 25%, #21537c 50%, #0b2d49 75%, #0e385a 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 100px;
    margin-left: 20px;
    color: #ecf0f1;
    height: 50%;
  }

  .aboutTeacher {
   
    transition: 0.3s;
  
    background-color: rgba(8, 15, 17, 0.4);
     color: white;
     width: 120%;
     height: 10%;
    margin-bottom: 50%;
    margin-left: -10%;
    border-right: #ecf0f1 1px solid;
    border-left: #ecf0f1 1px solid;
    border-top: #ecf0f1 1px solid;
 
     
   
  }

  .aboutImage{
    width: 100%;
   padding: 20px;
   padding-bottom: 40px;
   border: #0b2d49;
   
 
    
  }

 

.container .aboutTeacher .aboutImage .image{
    background-color: rgba(8, 15, 17,0.01);
    border-color: ivory 2px;
    
  }
 .peopleData .name{
    font-size: 23px;
  }
  
.peopleData {
   margin-left: 10%;
   margin-top: -10%;
   padding: 10px;
    background-color: rgba(8, 15, 17,0.001);
  }
  
 .container{
   height: 50%;
   margin-top: -12%;
  
  
 }
  
  .App {
    font-family: sans-serif;
    text-align: left;
    width: 60%;
    margin-top: 5%;
    margin-left: 27.5%;

  
  
  }



.select{
 margin-top: -60%;
 float: right;
 margin-right: 5%;

  margin-bottom: 28%;
  margin-left: 5%;
  width: 24%;
  background-color: rgba(9, 29, 34, 0.01);
  color: #091d2e;
  
}

.button{
  margin-top: -25%;
  padding: 2%;
  text-align: center;
  background-color: #071929;
border-right: #ecf0f1 0.5px solid;
border-left: #ecf0f1 0.5px solid;
border-bottom: #ecf0f1 0.5px solid;
 
  
}






